
body {
    background: linear-gradient(135deg, #146245 0%, #424b50 100%);
    font-family: 'Segoe UI', Tahoma, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    width: 90%;
    max-width: 400px;
}

.box {
    background: white;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    text-align: center;
}

.hidden { display: none; }

.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    color: #555;
    font-weight: bold;
}

#question-text {
    font-size: 1.2rem;
    margin-bottom: 20px;
    color: #333;
}

.main-btn {
    background-color: #be3838;
    color: white;
    border: none;
    padding: 12px 25px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1rem;
}

/* Options buttons styling */
.option-btn {
    display: block;
    width: 100%;
    padding: 12px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background: #f9f9f9;
    cursor: pointer;
    transition: 0.3s;
} 

.option-btn:hover { background: #f0f0f0; }

/* Correct/Wrong Colors */
.correct { background-color: #48bb78 !important; color: white; }
.wrong { background-color: #f56565 !important; color: white; }
